/*----- COMPONENTS : BUTTONS ----- */


@import "../mixins/buttons";

.button-aqua{
  @include button($aqua, $aqua, white);

  &:hover {
    @include button-hover;
  }

}

.button-white {
  @include button(white, $aqua, $aqua);
}


.button {
  font-family: $accent-font;
  text-transform: uppercase;
  line-height: 1;
  font-size: 1.8rem;
  color: $dark-gray;
  font-weight: 600;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
  }
}

.button-block {
  display: block;
  margin: 16px 0;
}



// simple button

.simple-button:hover {
  color: $aqua;
}

.simple-button span{
  border-bottom: 3px solid $dark-gray;
}

.simple-button:hover span{
  border-bottom: 3px solid $aqua;
}


@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
