/*----- COMPONENTS : CARDS ----- */


// last article - only for homepage

.last-article-card {
  margin-bottom: 32px;
  // background: $aqua;
  padding: 16px;


  .post-header-meta {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .post-meta {
    text-align: center;
    margin: 0;
  }

  .post-content {
    margin: 8px auto 24px;
  }

  .post-content .post-excerpt {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .post-title {
    margin-top: 0;
    font-size: 2.4rem;
    line-height: 1;
    text-align: center;
  }

}


//  regular card : homepage & archives

.regular-card {
  padding: 18px 12px 12px 12px;
  margin-top: 72px;
  &.pink {
    background: $light-pink;
  }
  &.yellow {
    background: $bright-yellow;
  }
  &.aqua {
    background: $aqua;
  }
  &.blue {
    background: $bright-blue;
  }

  .post-icon.blue {
    background: $bright-blue;
  }
  .post-icon.aqua {
    background: $aqua;
  }
  .post-icon.yellow {
    background: $bright-yellow;
  }
  .post-icon.pink {
    background: $light-pink;
  }

  .post-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: -54px;
    margin-bottom: 6px;
  }

  .post-icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .post-icon svg {
    width: 40%;
  }

  .post-icon svg path{
    stroke: white !important;
    fill: white !important;
  }

  .post-header-meta {
    margin-left: 10px;
    margin-bottom: 4px;
  }

  .post-meta {
    margin: 0;
    font-family: $accent-font;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.2;
  }

  .meta-content  {
    font-weight: 300;
    margin-left: 4px;
  }

  .post-content {
    background: white;
    padding: 12px;
  }

  .post-content .post-excerpt {
    margin-bottom: 24px;
  }

  .post-content .more-link {
    display: block;
    text-align: right;
    margin-right: 6px;
    margin-bottom: 6px;
  }

  .post-title {
    margin-top: 0;
    line-height: 1;
    font-size: 2.4rem;
  }
}


@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media (min-width: $lg-screen) {

  // last article - only for homepage

  .last-article-card {
    margin-top: 48px;

    .last-article-box {
      width: 50%;
      margin: auto;
      padding: 24px;
    }

    .header-meta {
      margin-top: 16px;
      margin-bottom: 0px;
    }

    .post-meta {
      text-align: center;
      margin: 0;
    }

    .post-content {
      width: 90%;
      margin: 0px auto 24px;
    }

    .post-content .post-excerpt {
      width: 80%;
      margin-left: 20%;
    }

    .post-excerpt  div {
      margin-bottom: 32px;
    }

    .post-title {
      text-align: center;
    }
  }
  //  regular card : homepage & archives

  .regular-card {
    padding: 20px;

    .post-header {
      margin-top: -68px;
    }

    .post-content {
      padding: 20px;
    }

    .post-icon {
      width: 64px;
      height: 64px;
    }
  }
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
