/*----- COMPONENTS : HEADER ----- */


// main logo for mobile


// header : fixed  on bottom for mobiles

.header-mobile {
  position: fixed;
  bottom: 0;
  left:  0;
  right: 0;
  height: 48px;
  border-top: 2px solid $dark-gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.social-icons.navbar-mobile {
  display: flex;
}

.mini-logo {
  position: absolute;
  top: -12px;
  left: 16px;

  svg {
    width: 32px;
    height: 32px;
  }
}




// .light-header {
//   display: flex;
//   justify-content: center;
//   padding-top: 18px;
// }


// .mobile-header {
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   height: 42px;
//   background: white;
//   z-index: 1000;
//   border-top: 2px solid $aqua;
//   display: flex;
//   justify-content: space-between;

//   // .navbar-icons {
//   //   position: absolute;
//   //   top: -12px;
//   //   right: 16px;
//   //   display: flex;
//   //   align-items: center;
//   //   justify-content: center;
//   // }
// }


@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
