/*----- COMPONENTS : ICONS ----- */


// #social-icons {
//   position: relative;
//   width: 80px;
//   height: 64px;
// }

.social-icons {
  position: fixed;
  bottom: 24px;
  right: 16px;
  // width: 80px;
  // height: 64px;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon-white {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 4px;
  margin: 0 4px;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  a {
    color: white;
    font-size: 1.6rem;
    margin: 0;
    line-height: 1;
  }
}

.icon-aqua {
  background: $aqua;
}

.icon-pink {
  background: $light-pink;
}

.icon-yellow {
  background: $bright-yellow;
}

// #instagram {
//   position: absolute;
//   bottom: 0;
//   right: 20px;
//   z-index: 4;
// }

// #twitter {
//   position: absolute;
//   right: 12px;
//   bottom: 28px;
//   z-index: 3;
// }

// #facebook {
//   position: absolute;
//   right: 38px;
//   bottom: 16px;
//   z-index: 2;
// }


@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
  .social-icons {
    position: relative;
    width: 80px;
    height: 64px;
    margin-top: 24px;
    margin-left: 24px;
  }
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
