/*----- COMPONENTS : LOGO ----- */

.logo {
  display: block;
  width: 48%;
  height: 48%;
  max-width: 280px;
  margin: 16px auto 24px;
}

.light-logo {
  width: 114px;
  max-height: 72px;
}

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
  .logo {
    display: block;
    width: 60%;
    max-width: 320px;
    margin: auto;
  }
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
