/*----- COMPONENTS : NAVBAR ----- */

.mobile-navbar {

  .toggle-menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $headers-font;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 800;
  }

  .toggle-menu.opened {
    background: transparent;
    top: 0;
    right: 0;
    z-index: 1003;
  }

  .toggle-menu.closed {
    background: white;
    bottom: 0;
    left: 0;
    right: 0;
    height: 42px;
    z-index: 1000;
  }

  .nav-links {
    margin: 0;
    list-style: none;
    padding-left: 2vw;

    a  {
      color: $dark-gray;
      text-transform: uppercase;
      font-size: 4.8rem;
      font-family: $headers-font;
      font-weight: 800;
    }
  }

  .hide-links {
    display: none;
    height: 42px;
    overflow: hidden;
  }

  .show-links {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1002;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: $bright-yellow;
  }

  .social-icons-links {
    display: flex;
    margin-top: 32px;
  }

  .social-icons-links svg {
    width: 36px;
    height: 36px;
    margin-right: 24px;
  }
}

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
