/*----- COMPONENTS : NAVBAR ----- */


.toggle-menu {
  font-family: $headers-font;
  padding: 0  48px;
  height: 48px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1002;
  font-size: 2.2rem;

  p {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 800;
  }

  .mobile-navbar-social svg{
    margin: 0 4px;
  }

  &.opened {
    background: none;
  }

  &.closed {
    background: white;
    border-top: 1px solid $dark-gray;
  }
}

.mobile-navbar {

  &.hide-links {
    display: none;
  }

  &.show-links {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: $bright-yellow;
    padding: 64px 48px;
  }

  .category-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .nav-link {
    color: $dark-gray;
    font-size: 4rem;
    font-family: $headers-font;
    font-weight: 800;
    text-transform: uppercase;
    z-index: 1005;
  }

  .social-link {
    font-size: 3.2rem;
    svg {
      margin: 0 12px;
    }
    svg:first-child {
      margin-left: 0;
    }
  }

  .parent-link-nav {
    position: relative;
  }

  .sub-links {
    // width: 100vw;
    // height: 100vw;
    // background: $aqua;
    // border-radius: 50%;

    .nav-link {
      font-size: 3.2rem;
      margin: 0;
      margin-left: 48px;
    }
  }

  .hide-sub-links {
    display: none;
  }

  .show-sub-links {
    position: absolute;
    // left: 72px;
    // top: -130px;
    top: 52px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}




@media (min-width: $sm-screen) {

  .desktop-navbar {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 100;
    margin: 42px 0 54px;

    .category-links {
      display: flex;
      justify-content: space-around;
    }

    .nav-link {
      font-size: 1.6rem;
      text-transform: uppercase;
      color: $medium-gray;
      margin: 0 12px;
    }

    .parent-link-nav {
      position: relative;
    }

    .hide-sub-links {
      display: none;
    }

    .show-sub-links {
      display: block;
    }

    .sub-links-container {
      display: flex;
      flex-direction: column;
      background: rgba(255,255,255,0.8);
      padding-left: 7px;

    }

    .sub-links {
      position: absolute;
      top: 0px;
      left: -8px;
      border-left: 1px solid $bright-yellow;
      padding-top: 32px;
    }

    .sub-links .nav-link {
      font-size: 1.4rem;
      margin: 2px 0;
    }

  }

} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media (min-width: $lg-screen) {

  .desktop-navbar {

    .nav-link {
      font-size: 1.8rem;
      margin: 0 12px;
    }


    .sub-links {
      position: absolute;
      top: 6px;
    }

    .sub-links .nav-link {
      font-size: 1.6rem;
    }

  }

} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
