/*----- VARIABLES : COLORS ----- */


$aqua: #9DF2D6;
$dark-aqua: #84DFC1;
$bright-blue: #9ce5f0;
$bright-yellow: #F9CB38;
$light-pink: #F9AAA5;


$light-gray: #efefef;
$gray: #a8a8a8;
$medium-gray: #646464;
$dark-gray: #0f0f0f;
