/*----- LAYOUTS : SINGLE POST ----- */

.single-article-template {
  .header-meta {
    margin-bottom: 8px;
    text-align: center;
  }

  .meta {
    color: $medium-gray;
    font-size: 1rem;
    margin: 0;
  }

  .post-title  {
    text-align: center;
    margin-top: 0;
    margin-bottom: 24px;
  }
}

.single-post-footer {
  margin: 24px 0;
  text-transform: uppercase;

  .like-section {
    margin-bottom: 8px;
  }

  .like {
    font-size: 1.2rem;
    padding:  4px;
    border-bottom: 1px solid $aqua;
  }

  .meta  {
    font-size: 1rem;
  }
}

.single-article-comment-form  {
  background: $light-pink;
}

.add-comment-section,
.related-articles {
  padding: 32px 16px;
}

.post-comment-form {
  align-items: stretch;

  input {
    height: 4rem;
    font-size: 1.6rem;
    line-height: 4rem;
  }

  textarea {
    font-size: 1.6rem;
    padding-top: 16px;
  }
}

// related  articles


.related-post-card {
  margin: 24px 0 48px;
  img {
    margin-bottom: 0;
    // margin-top: 24px;
  }

  .post-excerpt {
    color: $dark-gray;
    margin-bottom: 12px;
  }
}

// comments

.comment-card {
  margin: 24px auto;
  
  .comment-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 16px auto;
  
    .author-avatar {
      width: 68px;
      height: 68px;
      object-fit: cover;
      border-radius: 50%;
      border: 4px solid $aqua;
      margin: 0;
    }
  
    .comment-meta {
      margin-left: 8px;
    }
  
    .author-name,
    .comment-date {
      text-transform: uppercase;
      color: $medium-gray;
      font-size: 1.2rem;
      margin:  0;
    }
  }
  .comment-content {
    width: 96%;
    margin-left: 4%;
  }
}



.child-comment {
  width: 88%;
  margin-left: 6%;
  border: 2px solid $aqua;
  padding: 8px;

  .comment-header {
    margin-top: 0;
    margin-left: -24px;
    .author-avatar {
      width: 48px;
      height: 48px;
      border: none;
    }
  }

}




@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
