/*----- LAYOUTS : MAIN ----- */

@import "../variables/index";

#splash-content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  svg {
    width: 80% !important;
    height: 80% !important;
    margin-bottom: 30px;
  }

  h3 {
    font-family: $body-font;
    text-transform: uppercase;
    font-size: 1rem;
  }

  svg {
    transition: 0.6s;
    &:hover {
      transform: rotate(180deg);
    }
  }

}


@media only screen and (min-width: 1024px) {

  #splash-content {

    svg {
      width: 60% !important;
      height: 60% !important;
    }

    h3 {
      font-family: $body-font;
      text-transform: uppercase;
      font-size: 1rem;
    }
  }

}
