/*----- MIXINS : BUTTONS ----- */

@mixin button($main-color, $border-color, $text-color) {
  background: $main-color;
  padding: 4px 24px;
  border: 2px solid $border-color;
  margin: 8px 0px;
  a {
    color: $text-color;
    text-decoration: none;
  }
}


@mixin button-hover {
  border-radius: 48px;
  color: white;
  box-shadow: 0 0 8px rgba(157, 242, 214 ,0.8);
}







